:root {
    --white: white;
    --text-black: black;
    --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-heading: 'Nunito Sans', sans-serif;
    --bg-light-gray: #ececec;
    --bg-dark-gray: #333;
    --text-green: green;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin-bottom: 0;
}

html {
    font-family: var(--font-default);
    font-size: 14px;
    color: var(--white);
    line-height: 1.5;
}

body {
    background-color: black;
}

.Wrapper {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    color: var(--text-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: var(--white);
}


nav {

    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li::after {
    content: "\00B7";
}

nav ul li:last-child::after {
    content: "";
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--text-black);
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: var(--white);
    color: var(--text-black);
    padding: 4rem 0;

}

header p, footer p {
    margin-left: 2rem;
    font-family: var(--font-heading);
}

.main h3 {
    text-align: center;
}

.sellout h3,
.sellout h2 {
    text-align: center;
}

.sellout ul {
    margin: 4rem;
    padding: 4rem;
}

.sellout ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

article figure img {
    width: 100%;
    height: auto;
}

.container {
    background-color: black;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    padding: 5px;
    width: 400px;
    margin-top: 10px;
    height: 300px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.carousel slide{
    max-width: 70%;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .Wrapper {

        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    nav, header {
        margin: 0 auto;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
.Wrapper header h1.lead {
    font-size: 20rem !important;
}